@font-face {
    font-family: $ffRubikReg;
    src: url('../fonts/Rubik/Rubik-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: $ffOswaldReg;
    src: url('../fonts/Oswald/Oswald-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: $ffOswaldSemiBold;
    src: url('../fonts/Oswald/Oswald-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: $ffInterReg;
    src: url('../fonts/Inter/Inter-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: $ffInterMedium;
    src: url('../fonts/Inter/Inter-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: $ffInterSemiBold;
    src: url('../fonts/Inter/Inter-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: $ffInterBold;
    src: url('../fonts/Inter/Inter-Bold.ttf');
    font-weight: 700;
}