.header {
    &__wrapper {
        @include flex(space-between, wrap);
    }

    &__name {
        @include flex(center,inherit);
        align-items: center;
        @include font(16px, $ffInterBold,700, #000, uppercase, left, 19px);
    }


    &__input-date,
    &__input-note {
        margin-top: 15px;
        height: 30px;
        background-color: transparent;
        border-radius: 20px;
        padding: 10px;
        border: 2px solid $color-accent;
        outline: none;
        cursor: pointer;
    }

    &__input-note {
        @include font(12px, $ffInterReg, 400, #000, inherit, left, 15px);

    }

    &__user {
        position: relative;
        cursor: pointer;
        margin-right: 15px;
        padding:10px;
        .user__tab-menu {
            position: absolute;
            left: 0;
            top: 100%;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            width: 100%;
            display: none;

            div {
                width: 100%;
                padding: 10px;
                text-align: center;
                background-color: #fff;
            }
        }
    }
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.switch {
    margin-left: 10px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom:3.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.addNoteBtn {
    margin-left: 10px;
    width: 100px;
    background-color: $color-accent;
    color: #fff;
    border-radius: 20px;
    padding: 6px;
    border: 2px solid $color-accent;
    outline: none;
    cursor: pointer;
}

.user {
    @include flex(center,inherit);
    align-items: center;

    &__img {
        width: 35px;
        height: 35px;
        background-color: #2196F3;
        border-radius: 50%;
        @include flex(center, no-wrap);
        align-items: center;

        img {
            width: 17px;
            height: auto;

        }
    }

    &__name {
        margin-left: 5px;

    }
}