$ffRubikReg: 'Rubik', sans-serif;

$ffOswaldReg: 'Oswald';
$ffOswaldSemiBold: 'Oswald';

$ffInterReg:'Inter';
$ffInterMedium:'Inter';
$ffInterSemiBold:'Inter';
$ffInterBold:'Inter';


$color-bg:#f5f5f5;
$color-accent:#2196F3;
$color-secondary:#D6D0C1;
$color-tertiary:#A67C52;